{% extends 'base.html' %}

{% block content %}
    <h2>제목: {{ post.title }}</h2>
    <p>내용: {{ post.content }}</p>
    {% if post.imgfile %}
        <p><img src="{{ post.imgfile.url }}"></p>
    {% endif %}
    <p>카테고리: {{ post.category }}</p>
    <p>작성자: {{ post.writer }}</p>
    <p>조회수: {{ post.count }}</p>
    <p>작성일: {{ post.created_at }}</p>
    <p>마지막 수정일:{{ post.updated_at }}</p>

    {% if post.writer == request.user %}
        <a href="{% url 'blog:post-edit' id=post.pk %}">수정</a>
        <form action="{% url 'blog:post-delete' id=post.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="삭제">
        </form>
    {% endif %}
    <hr>

    <!-- 댓글 작성 -->
    <form action="{% url 'blog:cm-write' id=post.pk %}" method="post">
        {% csrf_token %}
        {{ comment_form.content }}
        <input type="submit" value="댓글 작성">
    </form>

    <!-- 댓글 구현, 삭제 -->
    {% if comments %}
        <ul>
        {% for comment in comments %}
            <li>댓글 : {{ comment.content }} / {{ comment.writer }}
            {% if comment.writer == request.user %}
                <form action="{% url 'blog:cm-delete' id=comment.pk %}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="삭제">
                </form>
            {% endif %}
            {% if recomments %}
                <ul>
                {% for recomment in recomments %}
                    {% if recomment.comment == comment %}
                        <li>답글 : {{ recomment.content }} / {{recomment.writer }}
                        {% if recomment.writer == request.user %}
                            <form action="{% url 'blog:rcm-delete' id=recomment.pk %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="삭제">
                            </form>
                        {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
            <form action="{% url 'blog:rcm-write' id=post.pk %}" method="post">
                {% csrf_token %}
                {{ recomment_form.content }}
                <input type="hidden" name="comment" value={{ comment.pk }}>
                <input type="submit" value="답글 작성">
            </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>댓글이 없습니다.</p>
    {% endif %}
    <a href="{% url 'blog:post-list' %}">목록으로 돌아가기</a>
{% endblock %}