{% extends 'base.html' %}

{% block content %}
    <h2>제목: {{ post.title }}</h2>
    <p>내용: {{ post.content }}</p>
    <p>카테고리: {{ post.category }}</p>
    <p>작성자: {{ post.writer }}</p>
    <p>조회수: {{ post.count }}</p>
    <p>작성일: {{ post.created_at }}</p>
    <p>마지막 수정일:{{ post.updated_at }}</p>

    {% if post.writer == request.user %}
        <a href="{% url 'blog:post-edit' id=post.pk %}">수정</a>
        <form action="{% url 'blog:post-delete' id=post.pk %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="삭제">
        </form>
    {% endif %}
    <a href="{% url 'blog:post-list' %}">목록으로 돌아가기</a>
{% endblock %}