{% extends 'base.html' %}

{% block content %}
    <p>블로그 게시판</p>
    <form action="{% url 'blog:post-write' %}" method="get">
        <input type="submit" value="글 작성">
    </form>
    {% if posts %}
        <table>
            <thead>
                <tr>
                    <td>제목</td>
                    <td>내용</td>
                    <td>카테고리</td>
                    <td>작성자</td>
                    <td>조회수</td>
                    <td>생성일자</td>
                    <td>수정일자</td>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td><a href="{% url 'blog:post-detail' id=post.pk %}">{{ post.title }}</a></td>
                        <td><a href="{% url 'blog:post-detail' id=post.pk %}">{{ post.content }}</a></td>
                        <td><a href="{% url 'blog:post-detail' id=post.pk %}">{{ post.category }}</a></td>
                        <td><a href="{% url 'blog:post-detail' id=post.pk %}">{{ post.writer }}</a></td>
                        <td><a href="{% url 'blog:post-detail' id=post.pk %}">{{ post.count }}</a></td>
                        <td><a href="{% url 'blog:post-detail' id=post.pk %}">{{ post.created_at }}</a></td>
                        <td><a href="{% url 'blog:post-detail' id=post.pk %}">{{ post.updated_at }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>작성된 게시물이 없습니다.</p>
    {% endif %}
    
    <form id="search-form" action="" method="get">
        카테고리 검색 : <input id="search-input" type="text"/>
        <input type="submit" value="검색">
    </form>
    <script>
        const form = document.querySelector('#search-form')
        const input = document.querySelector('#search-input')
        form.addEventListener('submit', () => {
            s = `{% url 'blog:post-search' tag="value" %}`
            s = s.replaceAll('value', input.value)
            form.action = s
        });
    </script>
{% endblock %}